@font-face {
    font-family: Outfit;
    src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
    font-family: YoungSerif;
    src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Outfit;
}

body {
    background-color: #F3E6D7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #595856;
    font-size: 11px;
}

.container {
    max-width: 500px;
    padding: 30px;
    margin: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.recipe-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature-img {
    border-radius: 10px;
    width: 100%;
}

h1 {
    color: #272727;
    font-family: YoungSerif;

}

.card {
    background-color: #FFF7FC;
    padding: 20px;
    border-radius: 10px;
}

.card span {
    color: #6A2C45;
    font-size: 14px;
    font-weight: bold;
}

ul,
ol {
    margin-top: 10px;
    list-style-position: outside;
    margin-left: 1em;
}

ul li,
ol li {
    padding-left: 1em;
    margin-top: 10px;
}

ol li::marker {
    color: #844732;
    font-weight: bold;
}

h2 {
    font-family: YoungSerif;
    color: #844732;
    margin-bottom: 20px;
}

hr {
    border: 0.2px solid rgba(128, 128, 128, 0.369);
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

table td {
    padding: 10px;
}

.border-bottom {
    border-bottom: 0.2px solid rgba(128, 128, 128, 0.369);
}

.value {
    font-weight: bold;
    color: #844732;
}


@media screen and (max-width: 375px) {
    .body {
        justify-content: flex-start;
    }

    .container {
        padding: 0px;
        margin: 0px;
    }

    .feature-img {
        border-radius: 0px;
    }

    .recipe-content {
        padding: 20px;
    }

}